# ╭───────────────────────────────╮
# │      KIRA X MD CONFIGURATION    │
# ╰───────────────────────────────╯

# YOUR WHATSAPP NUMBER (Eg: 919497689796)
BOT_NUMBER=

# SESSION ID (Enter the session ID you get after pairing)
SESSION_ID=

# BOT PREFIX (. , ! , /)
PREFIX=.

# public or private 
MODE=public

# AI API Keys (You can enter multiple keys separated by commas.)
GROQ_API_KEYS=gsk_your_key_here
GEMINI_API_KEYS=AQ.your_key_here

# OWNER NUMBER
OWNER_NUMBER=919188252308